:root{
    --text-color:rgb(38, 38, 38);
    --text-color-highlight:rgb(19, 120, 221);
    --title-text-size:1.5em;
    --text-size:1em;
    --white: white;
    --gray: rgb(95, 95, 95);
    --title-margin: 5%;

    --price-size: 1.2em;
    --name-size: 1em;
    --desc-size: 0.7em;

    --responsive-text-size: 0.6vw;

    --discount-highlight-color: rgb(241, 15, 53);

    --background-color: rgb(241, 241, 241);

}

body{
    background-color: var(--background-color);
}

/* -----------------------categorias----------------------- */

.square-4-4{
    padding: 1vw;
    margin: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white);
}

.square-4-4 h1{
    margin-bottom: 5%;
    font-size: var(--title-text-size);
}

.square-4-4 article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 5vw;
    overflow-y: hidden;
}

.square-4-4 article figure img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.square-4-4 article figure{
    margin-bottom: -20%;
}

.square-4-4 figure{
    padding: 1rem;
    overflow-y: hidden;
}

.square-4-4 a:visited, .square-4-4 a{
    color:var(--text-color);
}

.square-4-4 p a:visited, .square-4-4 p a{
    color: var(--text-color-highlight);
}

.square-4-4 p a:hover{ 
    text-decoration: underline;
}

.square-4-4 img:hover{
    border-radius: 1%;
    opacity: 0.7;
    transition: 0.5s;
}

@media screen and (min-width: 570px) and (max-width: 1199px){
    .square-4-4 figcaption, .square-4-4 p a{
        font-size: calc(var(--text-size) + var(--responsive-text-size));
    }
    .square-4-4 h1{
        font-size: calc(var(--title-text-size) + var(--responsive-text-size));
    } 
}

@media screen and (min-width: 840px){
    .square-4-4 article{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        column-gap: 5vw;
        row-gap: 3vw;
    }
    main{
        padding: 3vw;
    }
}

@media screen and (min-width: 840px) and (max-width:940px){
    .square-4-4 article figure img{
        max-height: 65%; /* certas imagens podem não ter espaço suficiente neste intervalo */
    }
}

@media screen and (min-width: 1200px){
    .square-4-4 article{
        row-gap: 2vw;
    }
    main{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .square-4-4 figcaption, .square-4-4 p a{
        font-size: var(--text-size);
    }
}

@media screen and (min-width: 1600px){
    main{
        padding-left: 12vw;
        padding-right: 12vw;
    }
}

/* -----------------------novidades e descontos----------------------- */

.list-img-text{
    padding: 1rem;
    margin: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: var(--white);
}

.list-img-text h1{
    margin-bottom: 5%;
    font-size: var(--title-text-size);
}

.list-img-text article figure{
    padding:1rem;
    overflow-y: hidden;
}

.list-img-text article figure a img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.list-img-text article figure a{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem; 
}

.list-img-text article figure a figcaption{
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
}

.list-img-text .price{
    font-size: var(--price-size);
    font-weight: bolder;
    background: linear-gradient(0.25turn, var(--text-color), #a9a9a9);
    color: var(--white);
    display: inline;
    width: 80%;
}

.list-img-text .discount::before{
    content:"Desde ";
    font-weight: normal;
}

.list-img-text .discount{
    font-size: var(--name-size);
    font-weight: bolder;
    background-color: var(--discount-highlight-color);
    color: var(--white);
    display: inline;
    width: 80%;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.list-img-text .product-name{
    font-size: var(--name-size);
}

.list-img-text .description{
    font-size: var(--desc-size);
}

.list-img-text a:visited, .list-img-text a{
    color:var(--text-color)
}

.list-img-text img:hover{
    border-radius: 1%;
    opacity: 0.7;
    transition: 0.5s;
}

@media screen and (min-width: 840px){
    .list-img-text article{
        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 1rem; 
    }

    .list-img-text article figure a img{
        max-width: 100%;
        max-height: 10vw;
        object-fit:contain;
    }
}

@media screen and (min-width: 1025px){
    .list-img-text h1{
        font-size: calc(var(--title-text-size) + var(--responsive-text-size));
    }
}

/* -----------------------natal e ano novo----------------------- */

.square-4-4:not(#categoryHighlight) img{
    object-fit:scale-down;
}

.square-4-4:not(#categoryHighlight) article figure{
    margin-bottom: -10%;
}


/* @media screen and (max-width: 1599px){
    .square-4-4, .list-img-text{
        border: solid 0.5px rgb(233, 233, 233);
    }
} */





