/* Theming */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"); /* import font */

:root{
    --backNav: #36383F;
    --backNav2: #262c42;
    --primaryNav:#212327;
    --white: #f9f9f9;
    --hoverNav: #85888C;
} /* variables*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    background-color: var(--backNav);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99; /* menu gets up front slider */
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--white);
    font-size: 60px;
    margin-left: 10px;
}

/* Nav menu */
.header .options{
    font-size: larger;
}

.nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--backNav);
/*     overflow: hidden;
 */}

.menu a{
    display: block;
    padding: 30px;
    color: var(--white);
/*     overflow: hidden;
 */}

.menu a:hover{
    background-color: var(--hoverNav);
}

.nav{
    max-height: 0;
    transition: max-height 100ms ease-out;
}

/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    overflow:visible;
} /* Style span tag */

.hamb-line::before, .hamb-line::after{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* a checkbox não é para ver, é para funcionar */

/* :checked verifica se a checkbox está checked, ou seja, ao clicar, deixa o menu grande */
.side-menu:checked ~ nav{ /* ~ aplica a regra apenas quanto há uma um side-menu antes da nav (regra aplicada à nav) */
    max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}

/* Search-Bar*/

.search-bar{
    background-color: var(--backNav);
    box-shadow: 1px 1px 5px 0px var(--hoverNav);
    padding-bottom: 1rem;
}

.search-bar .center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input[type="search"]{
    font-size: 1rem;
    width: 95vw;
    height: 3rem;
    border:var(--backNav) solid;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    background-color:var(--white);
    background-image:url("../images/others/lupa.png");
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-size: 1.5rem;    
}

input[type="search"]:focus {
    border-radius: 1.625rem;
    transition: all ease-in-out 0.4s;
}

.categories{
    flex: 1;
    display: flex;
    overflow-x:auto;
}

.categories table{
    background-color: var(--backNav2);
    width: 100%;
}

.categories table tr{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-flow: row nowrap;
    white-space: nowrap;
    padding: 0.7rem;
}

.categories table tr td a{
    color: var(--white);
}

.categories table tr td a:hover{
    color: var(--hoverNav);
}



/* TABLET & PC */
@media (min-width: 770px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: var(--hoverNav);
    }

    .hamb{
        display: none;
    }

    .menu li a:hover .fa{
        transform: scale(2) translateX(-50%) rotate(-15deg);
        transition: transform 0.2s;
    }
}

/* -----------------------botao topo----------------------- */
a[href="#top"]{
    display: block;
    background-color: var(--backNav);
    width: 100%;
    color:var(--white);
    height: 5vh;
    box-shadow: 1px 1px 5px 0px var(--hoverNav);
}

a[href="#top"]:visited{
    color:var(--white);
}

.center a[href="#top"]{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 570px){
    a[href="#top"]{
        font-size: calc(var(--text-size) + var(--responsive-text-size));
        height: 6vh;
    }
}


/* -----------------------footer----------------------- */
footer{
    display: flex;
    flex-flow: column;
    padding: 5%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: #e0e0e0;
}

.footer div, .footer figcaption{
    font-size: var(--text-size);
}

.footer section .footer-title{
    color:var(--gray);
    margin-bottom:5%;
}

.footer section article.contacts{
    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    margin-bottom: 5%;
}

.footer section article.contacts div{
    margin-top: -1%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 1rem;
}

.footer section .payment-methods{
    width: 100%;
    height: 100%;
}

.footer section .contacts div:first-child{
    font-weight: bold;
}

.footer-mini{
    background-color: #bbbbbb;
    padding-left: 10%;
    padding-right: 10%;
}

.footer-mini .conditions{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap:1rem;
    margin-bottom: 5%;
    font-size: calc(calc(var(--text-size) + var(--responsive-text-size)) - 50%);
}

.footer-mini .copyright{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: calc(calc(var(--text-size) + var(--responsive-text-size)) - 50%);
}

.footer-mini a, .footer-mini a:visited{
    color: var(--text-color);
}

.footer-mini a:hover{
    text-decoration: underline;
}


@media screen and (min-width: 756px){
    .footer section .payment-methods{
        width: 100%;
        max-height: 20vh;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }   
}

@media screen and (min-width: 1000px){
    .footer section .footer-title, .footer section article.contacts, .footer-mini .conditions{
        margin-bottom: 3%;
    } 

    .footer-mini .conditions, .footer-mini .copyright{
        font-size: calc(calc(var(--text-size) + var(--responsive-text-size)) - 60%);
    }

    .footer section article.contacts div{
        margin-top: 3%;
    }
}

@media screen and (min-width: 1200px){
    footer.footer, footer.minifooter{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .footer section .footer-title, .footer section article.contacts, .footer-mini .conditions{
        margin-bottom: 1.5%;
    } 

    footer{
        padding: 3%;
    }
}

@media screen and (min-width: 1600px){
    footer.footer, footer.minifooter{
        padding-left: 12vw;
        padding-right: 12vw;
    }

    .footer section .footer-title, .footer section article.contacts, .footer-mini .conditions{
        margin-bottom: 0.5%;
    } 

    footer{
        padding: 1.5%;
    }

    .footer-mini .conditions, .footer-mini .copyright{
        font-size: calc(calc(var(--text-size) + var(--responsive-text-size)) - 70%);
    }
}
